<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <filter>
    <filter-name>doxia</filter-name>
    <filter-class>org.apache.maven.plugins.site.webapp.DoxiaFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>doxia</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
