 -----
 Introduction
 -----
 Hervé Boutemy
 ------
 2011-10-31
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Velocity processing

  See doxia-siterendering: site decoration and documents with file names ending in <<<.vm>>> are processed by Velocity.

  The velocity context defines some variables:

*---------------------------------+--------------------+-------------------------------+
|| variable                       || type              || value                        ||
*---------------------------------+--------------------+-------------------------------+
| <<<relativePath>>>              | <<<String>>>       | $relativePath                 |
*---------------------------------+--------------------+-------------------------------+
| <<<authors>>>                   | <<<List\<String\>>>> | $authors                    |
*---------------------------------+--------------------+-------------------------------+
| <<<title>>>                     | <<<String>>>       | $title                        |
*---------------------------------+--------------------+-------------------------------+
| <<<headContent>>>               | <<<String>>>       | $headContent                  |
*---------------------------------+--------------------+-------------------------------+
| <<<bodyContent>>>               | <<<String>>>       | $bodyContent                  |
*---------------------------------+--------------------+-------------------------------+
| <<<decoration>>>                | {{{../doxia-decoration-model/apidocs/org/apache/maven/doxia/site/decoration/DecorationModel.html}<<<DecorationModel>>>}} | $decoration.name |
*---------------------------------+--------------------+-------------------------------+
| <<<dateCreation>>>              | <<<String>>>       | $dateCreation                 |
*---------------------------------+--------------------+-------------------------------+
| <<<dateRevision>>>              | <<<String>>>       | $dateRevision                 |
*---------------------------------+--------------------+-------------------------------+
| <<<currentDate>>>               | <<<Date>>>         | $currentDate                  |
*---------------------------------+--------------------+-------------------------------+
| <<<dateFormat>>>                | <<<DateFormat>>>   | $dateFormat                   |
*---------------------------------+--------------------+-------------------------------+
| <<<currentFileName>>>           | <<<String>>>       | $currentFileName              |
*---------------------------------+--------------------+-------------------------------+
| <<<alignedFileName>>>           | <<<String>>>       | $alignedFileName              |
*---------------------------------+--------------------+-------------------------------+
| <<<locale>>>                    | <<<Locale>>>       | $locale                       |
*---------------------------------+--------------------+-------------------------------+
| <<<supportedLocales>>>          | <<<List\<Locale\>>>> | $supportedLocales           |
*---------------------------------+--------------------+-------------------------------+
| <template properties>           |                    | Properties defined by caller: see below for properties defined by <<<maven-site-plugin>>>  |
*---------------------------------+--------------------+-------------------------------+
| <<<PathTool>>>                  | {{{http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/PathTool.html}<<<PathTool>>>}} | $PathTool |
*---------------------------------+--------------------+-------------------------------+
| <<<FileUtils>>>                 | {{{http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/FileUtils.html}<<<FileUtils>>>}} | $FileUtils |
*---------------------------------+--------------------+-------------------------------+
| <<<StringUtils>>>               | {{{http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/StringUtils.html}<<<StringUtils>>>}} | $StringUtils |
*---------------------------------+--------------------+-------------------------------+
| <<<i18n>>>                      | {{{http://plexus.codehaus.org/plexus-components/plexus-i18n/apidocs/org/codehaus/plexus/i18n/I18N.html}<<<i18n>>>}} | $i18n |
*---------------------------------+--------------------+-------------------------------+

  see <<<{{{./xref/org/apache/maven/doxia/siterenderer/DefaultSiteRenderer.html#426}DefaultSiteRenderer.createVelocityContext(...)}}>>>
  source for more details.

  When <<<doxia-site-renderer>>> is used by <<<maven-site-plugin>>>, following template properties are defined:

*---------------------------------+--------------------+-------------------------------+
|| variable                       || type              || description                 ||
*---------------------------------+--------------------+-------------------------------+
| <<<project>>>                   | {{{/ref/current/maven-core/apidocs/org/apache/maven/project/MavenProject.html}<<<MavenProject>>>}} | $project |
*---------------------------------+--------------------+-------------------------------+
| <<<inputEncoding>>>             | <<<String>>>       | $inputEncoding                |
*---------------------------------+--------------------+-------------------------------+
| <<<outputEncoding>>>            | <<<String>>>       | $outputEncoding               |
*---------------------------------+--------------------+-------------------------------+
| <project properties>            | <<<String>>>       | Properties defined in POM are directly available. |
*---------------------------------+--------------------+-------------------------------+
| \ \ javadocPluginVersion        |                    | $javadocPluginVersion         |
*---------------------------------+--------------------+-------------------------------+
| \ \ checkstylePluginVersion     |                    | $checkstylePluginVersion      |
*---------------------------------+--------------------+-------------------------------+
| \ \ projectInfoReportsPluginVersion |                | $projectInfoReportsPluginVersion |
*---------------------------------+--------------------+-------------------------------+

  see <<<{{{/plugins/maven-site-plugin/apidocs/org/apache/maven/plugins/site/AbstractSiteRenderingMojo.html\#createSiteRenderingContext(java.util.Locale)}AbstractSiteRenderingMojo.createSiteRenderingContext(...)}}>>>
  source for more details.
