 ------
 Customize Your Libraries
 ------
 Edwin Punzalan
 ------
 10 July 2006
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.


Customize Your Libraries

* Classes and sources

  If you do not want to use the packaged artifacts in your local repository and
  would want to use an alternate url, you can use:

+-----
<project>
  [...]
  <build>
    [...]
    <plugins>
      [...]
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-idea-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <libraries>
            <library>
              <name>junit</name>
              <sources>file://C:/junit/src/main/java</sources>
              <classes>file://C:/junit/target/classes</classes>
            </library>
          </libraries>
        </configuration>
      </plugin>
      [...]
    </plugins>
    [...]
  </build>
  [...]
</project>
+-----

* Javadocs

  Sometimes the Javadocs for an artifact are only available online. You can use
  these online Javadocs if you like. Just add the following to your plugin
  configuration:

+-----
<project>
  [...]
  <build>
    [...]
    <plugins>
      [...]
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-idea-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <libraries>
            <library>
              <name>servlet-api</name>
              <javadocs>http://java.sun.com/javaee/5/docs/api/</javadocs>
            </library>
          </libraries>
        </configuration>
      </plugin>
      [...]
    </plugins>
    [...]
  </build>
  [...]
</project>
+-----

* Exclude

  To exclude a dependency from appearing in IntelliJ IDEA's list of
  libraries, you can do:

+-----
<project>
  [...]
  <build>
    [...]
    <plugins>
      [...]
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-idea-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <libraries>
            <library>
              <name>junit</name>
              <exclude>true</exclude>
            </library>
          </libraries>
        </configuration>
      </plugin>
      [...]
    </plugins>
    [...]
  </build>
  [...]
</project>
+-----
