<settings xmlns="http://maven.apache.org/POM/4.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <id>test</id>
      <pluginRepositories>
        <pluginRepository>
          <id>apache.snapshots</id>
          <url>http://people.apache.org/repo/m2-snapshot-repository</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>