The ${developmentTeam} is pleased to announce the ${finalName} release!

${introduction}

Changes in this version include:

#foreach($actionsN in $release.getAction())
#if($actionsN.getType()=="add")
#set($hasNew = 1)
#end
#end
#if($hasNew==1)

New Features:

#end
#foreach($actions in $release.getAction())
#if($actions.getType()=="add")
#set($action=$actions.getAction())
#set($issue=$actions.getIssue())
#set($dueto=$actions.getDueTo())
o ${action} #if($!issue != "") Issue: $issue. #end#if($!dueto != "")Thanks to $dueto. #end

#set($issue="")
#set($dueto="")
#end 
#end

#foreach($actionsF in $release.getAction())
#if($actionsF.getType()=="add")
#set($hasFix = 1)
#end
#end
#if($hasFix == 1)

Fixed Bugs:

#end
#foreach( $actions in $release.getAction() )
#if( $actions.getType() == "fix" )
#set( $action = $actions.getAction())
#set($issue=$actions.getIssue())
#set($dueto=$actions.getDueTo())
o ${action} #if($!issue != "") Issue: $issue. #end#if($!dueto != "")Thanks to $dueto. #end

#set($issue="")
#set($dueto="")
#end
#end

#foreach($actionsC in $release.getAction())
#if($actionsC.getType()=="add")
#set($hasFix = 1)
#end
#end
#if($hasFix == 1)

Changes:

#end
#foreach( $actions in $release.getAction() )
#if( $actions.getType() == "update" )
#set( $action = $actions.getAction() )
#set($issue=$actions.getIssue())
#set($dueto=$actions.getDueTo())
o ${action} #if($!issue != "") Issue: $issue. #end#if($!dueto != "")Thanks to $dueto. #end

#set($issue="")
#set($dueto="")
#end
#end

#foreach($actionsR in $release.getAction())
#if($actionsR.getType()=="add")
#set($hasFix = 1)
#end
#end
#if($hasFix == 1)

Removed:

#end
#foreach( $actions in $release.getAction() )
#if( $actions.getType() == "remove" )
#set( $action = $actions.getAction() )
#set($issue=$actions.getIssue())
#set($dueto=$actions.getDueTo())
o ${action} #if($!issue != "") Issue: $issue. #end#if($!dueto != "")Thanks to $dueto. #end

#set($issue="")
#set($dueto="")
#end
#end


For a manual installation, you can download the ${finalName} here:

${urlDownload}


Have fun!
-${developmentTeam}

