## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
## 
##   http://www.apache.org/licenses/LICENSE-2.0
## 
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.

 ------
 Specifying source path inclusions and exclusions
 ------
 Barrie Treloar
 ------
 31 March 2009
 ------

Overview

	With the change done as part of {{{https://issues.apache.org/jira/browse/MECLIPSE-443}MECLIPSE-443 "Only include **/*.java in Java source directories"}} 
	the .classpath entries for classpathentry kind="src" now specify an <<<including>>> attribute with a value of <<<"**/*.java">>>.
	Previously this attribute was not specified	which meant that eclipse would include any file in this src directory as being on the classpath and hence compiled.
	
	This broke Ajdt support as <<<"**/*.aj">>> files were no longer included on the classpath and {{{https://issues.apache.org/jira/browse/MECLIPSE-538}MECLIPSE-538}} fixed this.
	
	{{{https://issues.apache.org/jira/browse/MECLIPSE-104}MECLIPSE-104 "Add the ability to specify source inclusions/exclusions"}} was added put back this flexibility.
	
	In summary:
	
	  * If your project is a java project then "**/*.java" will always be added to the including attribute of source directories.
	  
	  * If your project is an ajdt project then "**/*.aj" will always be added to the including attribute of source directories.
	  
	  * If you need any additional includes or excludes for source directories then use the configuration elements sourceIncludes/sourceExcludes
	  
	  []
	  
Example - Specifying sourceIncludes/sourceExcludes

+-----
<project>
  [...]
  <build>
    [...]
    <plugins>
      [...]
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-eclipse-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <sourceExcludes>
            <sourceExclude>**/.svn/**</sourceExclude>
          </sourceExcludes>
          <sourceIncludes>
            <sourceInclude>**/*.myExtension</sourceInclude>
          </sourceIncludes>
        </configuration>
      </plugin>
      [...]
    </plugins>
    [...]
  </build>
  [...]
</project>
+-----

	This will result in the <<<.classpath>>> file having source directory entries similar to this:
	
+-----
  <classpathentry kind="src" path="src/main/java" including="**/*.myExtension|**/*.java" excluding="**/.svn/**"/>
+-----
