<?xml version="1.0" encoding="ISO-8859-1"?>

<rss version="0.91">
  <channel>
    <title>${project.name} - Checkstyle report</title>
    <link>${project.url}</link>
    <description>${project.name} - Checkstyle report</description>
    <language>en-us</language>
    <copyright>&#169;${copyright}</copyright>
    <item>
      <title>File: $results.getFileCount(),
             Errors: $results.getSeverityCount($levelError),
             Warnings: $results.getSeverityCount($levelWarning),
             Infos: $results.getSeverityCount($levelInfo)
      </title>
      #set ( $reportlink = "${project.url}/checkstyle.html" )
      <link>$reportlink</link>
      <description>
        <p>Click <a href="$reportlink">here</a> for the full Checkstyle report.</p>

        <table summary="Files" boder="1">
          <thead>
            <tr>
              <th>Files</th>
              <th style="width:30px;"><abbr title="Info">I</abbr></th>
              <th style="width:30px;"><abbr title="Warning">W</abbr></th>
              <th style="width:30px;"><abbr title="Error">E</abbr></th>
            </tr>
          </thead>
          <tbody>
            #foreach( $key in $results.files.keySet() )
              #set ( $filename = $key.toString() )
              #set ( $anchor = $stringutils.replace( $filename, '\\', '/' ) )
              #set ( $anchor = $stringutils.replace( $anchor, '/', '.' ) )
              <tr>
                <td>
                  <a href="${reportlink}#$anchor">$filename</a>
                </td>
                <td>
                  $results.getSeverityCount(${key}, $levelInfo)
                </td>
                <td>
                  $results.getSeverityCount(${key}, $levelWarning)
                </td>
                <td>
                  $results.getSeverityCount(${key}, $levelError)
                </td>
              </tr>
            #end
          </tbody>
        </table>
        
      </description>
    </item>
  </channel>
</rss>

