<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <context-param>
    <param-name>foo</param-name>
    <param-value>bar</param-value>
  </context-param>
  <filter>
    <filter-name>doxia</filter-name>
    <filter-class>org.apache.maven.plugins.site.webapp.DoxiaFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>doxia</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
