 ------
 Changing the Heading Date Format
 ------
 Dennis Lundberg
 ------
 July 2007
 ------

 ~~ Licensed to the Apache Software Foundation (ASF) under one
 ~~ or more contributor license agreements.  See the NOTICE file
 ~~ distributed with this work for additional information
 ~~ regarding copyright ownership.  The ASF licenses this file
 ~~ to you under the Apache License, Version 2.0 (the
 ~~ "License"); you may not use this file except in compliance
 ~~ with the License.  You may obtain a copy of the License at
 ~~
 ~~   http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing,
 ~~ software distributed under the License is distributed on an
 ~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~~ KIND, either express or implied.  See the License for the
 ~~ specific language governing permissions and limitations
 ~~ under the License.

 ~~ NOTE: For help with the syntax of this file, see:
 ~~ http://maven.apache.org/doxia/references/apt-format.html


Changing the Heading Date Format

  If you are using one of the types <<<date>>> or <<<range>>>, the headings of
  the reports will have dates in them. Starting with version 2.1 of the plugin,
  it is possible to configure the format of these dates.

  This is done with the <<<\<headingDateFormat\>>>> configuration element. It
  takes a string of characters, the same that is used in the
  {{{http://java.sun.com/j2se/1.4.2/docs/api/java/text/SimpleDateFormat.html}SimpleDateFormat}}
  class, and uses them to format the dates in the headings to your liking.

+-----+
<project>
  ...
  <reporting>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-changelog-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <type>range</type>
          <range>30</range>
          <headingDateFormat>dd MMM, yyyy</headingDateFormat>
        </configuration>
      </plugin>
    </plugins>
  </reporting>
  ...
</project>
+-----+
