 ------
 Configuring Stylesheets
 ------
 Maria Odea Ching
 Vincent Siveton
 ------
 2009-08-04
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Configuring Stylesheets

 If no custom stylesheet is specified in the {{{../javadoc-mojo.html#stylesheetfile}\<stylesheetfile/\>}} parameter,
 the {{{../javadoc-mojo.html#stylesheet}\<stylesheet/\>}} parameter will indicate
 which stylesheet will be used -- the stylesheet included in the maven javadoc plugin or the default stylesheet used by
 the javadoc tool. <<maven>> value indicates the maven javadoc plugin stylesheet, while <<java>> value indicates the
 default javadoc tool stylesheet. The default is <<java>> value if not specified.

+-----+
<project>
  ...
  <reporting> (or <build>)
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-javadoc-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <stylesheet>maven</stylesheet>
          ...
        </configuration>
      </plugin>
    </plugins>
    ...
  </reporting> (or </build>)
  ...
</project>
+-----+

Configuring Stylesheets File

 If a custom {{{../javadoc-mojo.html#stylesheetfile}\<stylesheetfile/\>}} parameter is specified, you will be able to
 use it:

 * if {{{../javadoc-mojo.html#stylesheetfile}\<stylesheetfile/\>}} is a given file, you could use an absolute or a
 relative path, for instance:

+-----+
<project>
  ...
  <reporting> (or <build>)
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-javadoc-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <stylesheetfile>${basedir}/path/to/your/stylesheetfile.css</stylesheetfile>
          ...
        </configuration>
      </plugin>
    </plugins>
    ...
  </reporting> (or </build>)
  ...
</project>
+-----+

 * since 2.6, {{{../javadoc-mojo.html#stylesheetfile}\<stylesheetfile/\>}} could be a resource in your project
 directory, i.e. <<<src/main/java>>>, <<<src/main/resources>>> or <<<src/main/javadoc>>>, for instance:

+-----+
<project>
  ...
  <reporting> (or <build>)
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-javadoc-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <stylesheetfile>path/to/your/stylesheet.css</stylesheetfile>
          ...
        </configuration>
      </plugin>
    </plugins>
    ...
  </reporting> (or </build>)
  ...
</project>
+-----+

 * since 2.6, {{{../javadoc-mojo.html#stylesheetfile}\<stylesheetfile/\>}} could be a resource in the Javadoc plugin
 dependencies, for instance:

+-----+
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-javadoc-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <stylesheetfile>path/to/your/stylesheet.css</stylesheetfile>
        </configuration>
        <dependencies>
          <dependency>
            <groupId>groupId</groupId>
            <artifactId>artifactId</artifactId>
            <version>version</version>
          </dependency>
        </dependencies>
      </plugin>
    </plugins>
    ...
  </build>
  ...
</project>
+-----+
