  ------
  Include extra files in the RAR
  ------
  Allan Ramirez
  ------
  July 2006
  ------

~~ Licensed to the Apache Software Foundation (ASF) under one                                                                                                      
~~ or more contributor license agreements.  See the NOTICE file                                                                                                    
~~ distributed with this work for additional information                                                                                                           
~~ regarding copyright ownership.  The ASF licenses this file                                                                                                      
~~ to you under the Apache License, Version 2.0 (the                                                                                                               
~~ "License"); you may not use this file except in compliance                                                                                                      
~~ with the License.  You may obtain a copy of the License at                                                                                                      
~~                                                                                                                                                                 
~~   http://www.apache.org/licenses/LICENSE-2.0                                                                                                                    
~~                                                                                                                                                                 
~~ Unless required by applicable law or agreed to in writing,                                                                                                      
~~ software distributed under the License is distributed on an                                                                                                     
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY                                                                                                          
~~ KIND, either express or implied.  See the License for the                                                                                                       
~~ specific language governing permissions and limitations                                                                                                         
~~ under the License.               

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Include extra files in the RAR

  Extra files may also be included in the generated archive(rar). By default,
  all files placed inside the <<<src/main/rar>>> will be included.

+---+
project
|--pom.xml
|--src
   `--main
      |--rar
      |  `-- <!-- put the extra files here -->
      |--java
         [...]
+---+

  Then execute the plugin by invoking the <<<rar:rar>>> goal.

+---+
mvn rar:rar
+---+

  To be able to change the location of the directory, configure the
  <<<rarSourceDirectory>>> property and set a path for it.

+---+
<project>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-rar-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
           <rarSourceDirectory>some-path</rarSourceDirectory>
        </configuration>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
+----+




